@import '../../assets/scss/vars';
.btn {
  width: 100%;
  max-width: 235px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #fff;
  color: $hover;
  border-radius: 16px;
  line-height: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    position: absolute;
    right: -28px;
    transition: margin-right 0.3s;
  }

  &:hover {
    background-color: $accent;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;

    & svg {
      margin-right: -20%;
      transition: margin-right 0.3s;
      & path {
        stroke: #fff;
        transition: stroke 0.3s;
      }
    }
  }

  svg {
    margin-left: 8px;
  }
}
