@import '../../assets/scss/mixins';

.section {
  @include _450 {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include _450 {
    width: 100%;
  }
}

.headline {
  margin-bottom: 8px;
  font-size: 16px;
  opacity: 0.5;

  @include _450 {
    font-size: 12px;
  }
}

.title {
  margin-bottom: 16px;
  font-size: 40px;

  @include _450 {
    font-size: 28px;
  }
}

.priceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  margin-bottom: 30px;
  display: inline-flex;
  align-items: flex-start;
  line-height: 1;
  letter-spacing: -0.02em;

  span {
    font-size: 60px;

    @include _450 {
      font-size: 40px;
    }
  }

  .units {
    margin-right: 4px;
    font-size: 30px;
    line-height: 1.3;
  }
}

.label {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

  @include _450 {
    width: 100%;
  }
}

.input {
  width: 100%;
  min-width: 288px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;

  @include _450 {
    max-width: 100%;
    min-width: 260px;
  }
}

input {
  flex-grow: 1;
  border: 0;
  outline: none;
}

.last {
  margin-bottom: 30px;
}

.btn {
  min-width: 288px;
}
