@import '../../assets/scss/mixins';

.card {
  width: calc(352px);
  margin-right: 40px;
  margin-bottom: 40px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 24px;

  @include _1024 {
    margin-right: 20px;
  }

  @include _767 {
    width: 100%;
    margin-right: 0;
  }
}

.headline {
  margin-bottom: 8px;
  font-size: 16px;
  opacity: 0.5;

  @include _767 {
    font-size: 12px;
  }
}

.title {
  margin-bottom: 40px;
  font-size: 40px;

  @include _767 {
    font-size: 28px;
  }
}

.priceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: inline-flex;
  align-items: flex-start;
  line-height: 1;
  letter-spacing: -0.02em;

  span {
    font-size: 60px;

    @include _767 {
      font-size: 40px;
    }
  }

  .units {
    margin-right: 4px;
    font-size: 30px;
    line-height: 1.3;
  }
}
