@import '../../assets/scss/vars';
.btn {
  width: 64px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: $hover;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  span {
    color: $hover;
  }
}
