@import '../../assets/scss/mixins';

.card {
  position: relative;
  width: 100%;
  width: calc(384px);
  margin-bottom: 40px;
  padding: 50px 50px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 24px;

  @include _450 {
    width: 100%;
    padding: 20px;
    border-radius: 0;
  }
}

.icon {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;

  @include _450 {
    top: 10px;
    right: 10px;
  }

  circle {
    transition: fill 0.3s;
  }

  path {
    transition: stroke 0.3s;
  }

  &:hover {
    circle {
      fill: darken(#f2f2f2, 15%);
      transition: fill 0.3s;
    }

    path {
      stroke: rgb(165, 1, 1);
      transition: stroke 0.5s;
    }

    & {
      transform: rotate(180deg);
      transition: transform 0.5s;
    }
  }
}
